# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fba-frontend/node_modules
fba-frontend/.pnp
fba-frontend/.pnp.js

# testing
fba-frontend/coverage

# production
fba-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

fba-backend/.classpath
fba-backend/.project
fba-backend/.settings/
fba-backend/target/