.footer {
    font-size: 10px;
    padding-top: 8%;
    width:95%; 
    margin-left:5%;
}

.styledtable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:70%; 
    margin-left:13%; 
    margin-right:17%;
    margin-top: 5%;
}

.styledtable thead tr {
    background-color: #3f3d3d;
    color: #ffffff;
    text-align: left;
}

.styledtable th,
.styledtable td {
    padding: 12px 15px;
}

.styledtable tbody tr {
    border-bottom: thin solid #dddddd;
}

.styledtable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledtable tbody tr:last-of-type {
    border-bottom: 2px solid #3f3d3d;
}

