.container {
    width: 80%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #7BAFD4;
    padding: 0 10%;
    justify-content: space-between;
  }
  
  .logo {
    position: absolute;
    left: 150px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .container ul {
    flex: 1 1 auto;
    list-style:none;
    margin: 0;
    padding-left: 460px;
    display: flex;
    align-items: baseline;
  }
  
  .container li {
    margin-left: 3rem;
  }
  
  .container a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #eaf2f5;
  }
  
  .container a:hover,
  .container a:active,
  .container a.active {
    color: white;
  }
  
