.styledtable {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 60%;
  margin: auto;
  margin-top: 6px;
  zoom: 90%
}

.styledtable thead tr {
  background-color: rgb(44, 42, 41);
  color: #ffffff;
  text-align: left;
}

.styledtable th,
.styledtable td {
  padding: 2px 15px;
}

.styledtable tbody tr {
  border-bottom: thin solid #dddddd;
}

.styledtable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledtable tbody tr:last-of-type {
  border-bottom: 2px solid rgb(44, 42, 41);
  border-top: 2px solid rgb(44, 42, 41);
}

.styledtable td:first-of-type{
  width: 6rem;
}
.styledtable td:last-of-type {
  font-weight: bold;
  width: 1rem;
}

.styledtable tr:last-of-type td {
  font-weight: bold;
  border-left: 1px solid rgb(44, 42, 41);
  border-right: 1px solid rgb(44, 42, 41);
}

.hasGame {
  background-color: #27d845;
}

.noGame {
  background-color: #d11c16;
}

.styledtable tr:last-of-type td:first-of-type{
  border-left: none;
}

.styledtable tr:last-of-type td:last-of-type {
  border-right: none;
}
