.matchupButton {
  font: inherit;
  cursor: pointer;
  background-color: rgb(44, 42, 41);
  color: white;
  padding: 0.5rem 1.75rem;
  border: 1px solid rgb(44, 42, 41);
  border-radius: 4px;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
  margin: 5px;
  margin-top: 1%;
  position: relative;
}

.matchupButton:hover,
.matchupButton:active,
.matchupButton:active {
  color: #8d9092;
  top:-1px;
}

.activeMatchupButton {
  font: inherit;
  cursor: pointer;
  background-color: #8d9092;
  color: white;
  padding: 0.5rem 1.75rem;
  border: 1px solid #8d9092;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
  margin: 5px;
  margin-top: 1%;
  top:-1px
}
