.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin-left: 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top:3px;

  }